//Sass variables
@import "variables";

body, h1, h2, h3, h4, h5, h6 {
  font-family: $font_raleway;
}

body {
  border: 30px solid #efefef;
}

.intro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-weight: 300;
  }
  ul {
    list-style: none;
    margin-left: 0;
    text-align: center;
    li {
      display: inline-block;
      padding: 0 0.25em;
      a {
        color: $black;
        &:hover {
          color: $red;
        }
      }
    }
  }
}
