// Layout
//
// Styles for managing the structural hierarchy of the site.

.social {
  ul {
    @include bp-small {
      text-align: center;
    }
    @include bp-medium {
      text-align: center;
    }
  }
  li {
    margin-bottom: 0.75em;
    @include bp-small {
      display: inline-block;
      padding-right: 1em;
    }
    @include bp-medium {
      display: inline-block;
      padding-right: 1em;
    }
  }
  i {
    font-size: 28px;
  }
}

footer {
  margin: 2em 0;
  h2 {
    margin-bottom: 1em;
    font-size: 22px;
  }
  p {
    font-size: 18px;
    line-height: 2;
  }
  .copyright {
    margin-top: 2em;
    color: #d1d1d1;
    line-height: 1.75;
    font-size: 14px;
    @include bp-small {
      text-align: center;
    }
    @include bp-medium {
      text-align: center;
    }
    a {
      color: #d1d1d1;
    }
  }
}
