// Layout
//
// Styles for managing the structural hierarchy of the site.

.social i {
  font-size: 28px;
}

footer {
  margin: 4em 0;
  h2 {
    margin-bottom: 1em;
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
  .copyright {
    margin-top: 4em;
    color: #d1d1d1;
  }
}
