<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="row">
      <div class="large-8 columns">

        <header class="masthead">
          <img src="{{ site.baseurl }}/public/profile.png" alt="Saikat Kumar Dey">
        </header>

    </div>
  </div>

  <div class="row">

    <div class="large-8 large-offset-1 columns">

      <div class="content-section">

        <p>
          Hi there! I am Saikat Kumar Dey.
          <br>
          I am a Data Scientist at Endurance International Group.
          I have completed B.Tech in Computer Science and Engineering from NIT Durgapur in 2016.
          <br><br>
          My areas of interest are NLP, Customer Personalization,
          Recommendation Systems , Bayesian modelling and distributed machine learning.
          <br><br>
          I am proficient in Python, Clojure and Java.
          <br><br>

          In my spare time I love doing MOOCs. I love exploring and building predictive models on interesting datasets.

        </p>

      </div>

      <main>
        <h2>Latest Work</h2>
        {% for post in site.posts %}
          <div class="project-post">
            <h3><a id="project-link" href="{{ post.git }}">{{ post.title }}</a></h3>
            {{ post.content }}
          </div>
        {% endfor %}
      </main>

      <footer>
        <h2>Contact Me</h2>

        <p>
        Send me an <a href="mailto:deysaikatkumar@gmail.com?Subject=Hello,%20Saikat!">email</a> or ping me on <a href="https://twitter.com/deysaikatkumar">Twitter</a>.
        I’m also on <a href="https://github.com/saikatkumardey">Github</a> and <a href="https://www.linkedin.com/in/saikatkumardey">Linkedin</a>.
        </p>

        <p class="copyright">
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </p>
      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
        <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></li>
        <li><a href="https://medium.com/@saikatkumardey/"><i class="fa fa-medium"></i></a></li>
        <li><a href="https://www.linkedin.com/in/saikatkumardey"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>

  </div>

  </body>
</html>
